# Assignment_1

### 1. In the below elements which of the them are values or an expression? eg:- values can be integer or string and expressions willl be mathematical operators

#### *  = mathematical operator(multiplication operator)

#### 'Hello' =  String 

#### -87.8  =  negative float datatype 

#### -   =   mathematical operator(subtraction operator)

#### /   =   mathematical operator(division operator)

#### +   =  mathematical operator(Addition operator)

#### 6   =  positive integer

### 2. What is the difference between string and variable ?

#### Variables
We can think of variable as a container to store a value in a memory location and to manipulate it if needed. variable can stire a string , int , float etc.
Below is the Example here I am using variable name as num and at first I am storing value 6 in that and again I stored value 20 in that.

In [6]:
num = 6
num  = 20

#### Strings
1. A string is simply a list of characters in order. A character is anything we can type on the keyboard in one keystroke, like a letter, a number, or a backslash. 

2. A string is always enclosed between "double quote" , 'single quote', even """ triple quote """ to in python 

3. In the string we have the indexing starting from 0 to length of the string.

4. Strings are immutable we cannot change or reassign any character of the string by reaching its index. 

Below I am showing some example of String.

In [7]:
# declaring a string 
this_is_string = "Naveen Kumar Dongre"

# Accesing the character of the string 
print(this_is_string[0])

# But we cannot assign the and value by accessing a particular
# index as strings are immutable I will get an error
this_is_string[0] = "O"

N

TypeError: 'str' object does not support item assignment

### 3. Describe three different data types.

In python we have various we have various type od data types but here I am discussing about the any three data types in python.

### 1. Integer Data type
As the name suggest it a data type that stores integer values in it . They are positive or negative whole numbers with no decimal point. Integers in Python 3 are of unlimited size. Python 2 has two integer types - int and long. There is no 'long integer' in Python 3 anymore.

### Type coversion 
Type int(x) to convert x to a plain integer. But be aware that X must not be string character like "ab" it will give error, but it can be string charater like "1", "2".

In [10]:
# Decalaring a integer 
integer = 4 
print(type(integer))

str_int  = "2"
print("Type of str_int is ", type(str_int))
# Now type casting the str_int to integer using int() method 

print(type(int(str_int)))

<class 'int'>
Type of str_int is  <class 'str'>
<class 'int'>

### 2.Float Data type 
In Python, floating point numbers (float) are positive and negative real numbers with a fractional part denoted by the decimal symbol . or the scientific notation E or e, e.g. 1234.56, 3.142, -1.55, 0.23.

Below are some example

In [14]:
# declaring float number
f = 1.9
print(type(f))

<class 'float'>

Floats can be separated by the underscore _, e.g. 123_42.222_013 is a valid float.

In [15]:
f = 123_42.222_013
f

12342.222013

Scientific notation is used as a short representation to express floats having many digits. For example: 345.56789 is represented as 3.4556789e2 or 3.4556789E2

In [17]:
f = 1e3
f

1000.0

In [19]:
f = 1e5
f

100000.0

Use the float() function to convert string, int to float.

In [22]:
string = "5.5"
# type casting to float
print(float(string))

print('1e3')

5.5
1e3

### 3. Complex Number
A complex number is a number with real and imaginary components. For example, 5 + 6j is a complex number where 5 is the real component and 6 multiplied by j is an imaginary component.

In [23]:
a = 3 + 6j
print(a)

type(a)

(3+6j)

complex

### 3.  What is an expression made up of? What do all expressions do?

An expression is made up by the combination of operators and operands that is interpreted to produce some other value.

In [29]:
# Example of expression 
a = 10 
b = 20 
# here below is the expression where a and b are operands and + is operators 
# and the result of the required expression is stored in the variable 'res'.
res = a + b
print("a  +  b =" , res)

a  +  b = 30

The main goal of an expression is evaluate the value or the result and the result of the expression totally depeands upon the operands and operators as I had shown in the previous example by evaluating the expression and printing it result.

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression is made up of values, containers, and mathematical operators (operands) and the statement is just like a command that a python interpreter executes like print.

### 6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [30]:
bacon = 22 
bacon + 1

23

Hence the we will get 23 after the execution of code.

### 7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [32]:
'spam' + 'spamspam'

'spamspamspam'

In [33]:
'spam' * 3

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

Because we can't start a particular variable name with the integer number. But , suppose if we than we should being with a string-like alphabet name then and we can use a integer number , example e12 or eggs400 is valid.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

To get a integer version we can use int()

In [34]:
s = "1"
print(type(s))
s = int(s)
print(type(s))

<class 'str'>
<class 'int'>

To get a string version of any value we can use str()

In [35]:
a = 1 
print(type(a))
a = str(a)
print(type(a))

<class 'int'>
<class 'str'>

To get a float version of any value we can use float()

In [37]:
b = "1.3"
print(type(b))
b = float(b)
print(type(b))

<class 'str'>
<class 'float'>

### 10. Why does this expression cause an error? How can you fix it?

'I have eaten' + 99 + 'burritos'

Because 99 is an integer it cannot be concatenated with strings, if we have to concatenate it we need to do typecasting.

In [38]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

But we can correct it by type casting

In [39]:
'I have eaten' + str(99) + 'burritos'

'I have eaten99burritos'